.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logotype {
  z-index: 3;
}

.header__menu {
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: 12px;


  @media (min-width: 1680px) {
    font-size: 14px;
  }
}

.header__list {
  display: flex;
  z-index: 2;
  position: relative;
}

.header__list-item:not(:last-child) {
  margin-right: 42px;
}

.header__link {
  color: $light-gray-color;
}

.header__burger {
  display: none;
}

@media (min-width: 320px) and (max-width: 769px) {

  body.lock {
    overflow: hidden;
  }

  .header__burger {
    position: relative;
    display: block;
    width: 24px;
    height: 14px;
    z-index: 3;
    cursor: pointer;
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: $light-dark-color;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.2s linear;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger span {
    position: absolute;
    background-color: $light-dark-color;
    left: 0;
    width: 100%;
    height: 2px;
    top: 6px;
    z-index: 2;
    transition: all 0.2s linear;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 6px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 6px;
  }

  .header__menu {
    overflow: auto;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: teal;
    padding: 70px 0 0 0;
    transition: all 0.2s linear;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list-item {
    margin: 0 0 20px 0;
  }

  .header__link {
    color: $white-color;
  }
}
