.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 14px;
}

.tel {
  @include font(18px, 600, 22px);
  color: $dark-bg-color;
  padding-left: 8px;
}

.contact-tel {
  display: flex;
  justify-content: center;

  @media (max-width: 767px) {
    margin-bottom: 20px;
  }

  &--svg {
    fill: $primary-color;
    width: 22px;
    height: 32px;
  }
}

.insta-link {
  display: block;
  background-size: contain;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/footer/instagram.svg");

  @media (max-width: 767px) {
    margin-bottom: 26px;
  }
}

@media (max-width: 767px) {
  .section-footer {
    padding-top: 38px;
  }
}

.logo {
  display: flex;
  justify-content: center;
  @include font(15px, 800, 18px);
  color: $dark-color;

  &__item {
    display: flex;
    justify-content: center;
    align-items: flex-end;

  }

  &-svg {
    width: 20px;
    height: 23px;
    fill: $primary-color;
  }

  &-desc {
    @include font(5px, 700, 8px);
    letter-spacing: 0.13em;
    color: $dark-color;
    text-transform: uppercase;
  }

  span {
    color: $primary-color;
  }
}

.footer-bottom {
  background-color: $dark-bg-color;
  min-height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-desc {
  color: $text-footer-color;
  line-height: 14px;

  @media (max-width: 767px) {
    text-align: center;
  }

  @media (min-width: 1280px) {
    font-size: 15px;
    line-height: 18px;
  }
}

@media (min-width: 768px) {
  .section-footer {
    padding-top: 48px;
  }

  .footer-top {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 35px;
  }

  .logo__item-desc {
    font-size: 25px;
    line-height: 30px;
  }

  .logo-desc {
    font-size: 8px;
    letter-spacing: 0.11em;
    line-height: 10px;
  }

  .logo-svg {
    width: 20px;
    height: 34px;
  }

  .tel {
    font-size: 20px;
    line-height: 24px;
  }

  .insta-link:nth-child(2) {
    order: -1;
    transform: translateY(-4px);
  }

  .insta-link {
    margin-left: 60px;
  }

  .insta-link::before {
    content: "";
    display: inline-block;
    background-color: rgb(224, 224, 224);
    width: 1px;
    height: 30px;
    transform: translateX(-46px);
  }
}

.contact-tel {
  padding-left: 82px;
}


@media (min-width: 1280px) {
  .section-footer {
    padding-top: 58px;
  }

  .footer-top {
    padding-bottom: 52px;
  }

  .contact-tel {
    padding-left: 260px;
  }

  .footer-top {
    align-items: flex-end;
  }

  .tel {
    font-size: 28px;
    line-height: 34px;
    padding-top: 4px;
  }

  .contact-tel--svg {
    width: 40px;
    height: 42px;
    padding-top: 6px;
  }

  .insta-link {
    width: 38px;
    height: 38px;
  }
}

@media (min-width: 1680px) {
  .contact-tel {
    padding-left: 312px;
  }
}
