.section-program {
  padding-top: 56px;
  min-height: 1891px;
  background-color: $dark-bg-color;
}

.section-title {
  @include font(20px, 800, 33px);
  color: $white-color;
  margin-bottom: 30px;
  text-align: center;
}

.section__item-subtitle {
  @include font(13px, 500, 30px);
  color: $primary-color;
  margin-bottom: 12px;
  padding-left: 12px;
  position: relative;

  &::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: $primary-color;
    left: 0px;
    top: 50%;
    transform: translate(-12px, -4px);
  }
}

.section__item-desc {
  @include font(11px, 400, 20px);
  color: $gray-color;
}

.section__item-desc:not(:last-child) {
  margin-bottom: 10px;
}

.section__item-desc span {
  display: block;
}

.section__item {
  &-title {
    @include font(15px, 700, 30px);
    letter-spacing: 0.11em;
    color: $white-color;

    &::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $primary-color;
      transform: translateX(-26px);
    }

    &--line {
      margin-bottom: 16px;
    }

    &--line::after {
      content: '';
      display: block;
      width: 25px;
      height: 2px;
      background-color: $primary-color;
      transform: translateX(12px);
      margin-top: 24px;
    }
  }

  &:hover .section__item-title::before {
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, .35);
    transition: box-shadow 0.2s linear;
  }
}

.section-program-img {
  background-image: url(../images/program/program-mob.png);
  background-position: right 0 bottom 264px;
  background-repeat: no-repeat;
  background-size: 143px 183px;
  max-width: 100%;

  @media (min-resolution: 192dpi) {
    background-image: url(../images/program/program-mob@2x.png);
  }
}

@media (min-width: 320px) and (max-width: 1279px) {
  .section__list {
    position: relative;

    &::before {
      @include pseudo($display: inline-block, $pos: absolute, $content: '');
      width: 2px;
      height: 92%;
      background-color: rgb(84, 98, 100);
      transform: translate(63px, 14px);
    }
  }

  .section__item:not(:last-child) {
    margin-bottom: 22px;
  }

  .section__item {
    padding-left: 95px;
    text-align: left;
  }

  .section__item-title {
    margin: 0 0 15px -10px;
  }
}


@media (min-width: 768px) {
  .section-program {
    min-height: 1332px;
    padding-top: 70px;
  }

  .section__item-title-desc {
    width: 33%;
  }

  .section__list::before {
    height: 87%;
    transform: translate(90.5px, 14px);
  }

  .section__item-title::before {
    transform: translateX(-48px);
  }

  .section-title {
    text-align: left;
    @include font(26px, 800, 62px);
    margin-bottom: 38px;
  }

  .section-program-img {
    background-image: url(../images/program/program-tablet.png);
    background-position: right 0 bottom 150px;
    background-size: 406px 300px;


    @media (min-resolution: 192dpi) {
      background-image: url(../images/program/program-tablet@2x.png);
    }
  }
}

@media (min-width: 768px) and (max-width: 1279px) {

  .section__list-title-desc {
    display: flex;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .section__item {
    margin-left: 50px;
  }
}

@media (min-width: 1280px) {
  .section__list {
    display: flex;
    justify-content: space-between;
  }

  .section-program::before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: rgb(84, 98, 100);
    transform: translateY(110px);
  }

  .section-title {
    @include font(42px, 800, 62px);
    margin-bottom: 84px;
  }

  .section__item-title {
    font-size: 20px;

    &::before {
      display: block;
      transform: translateY(-45px);
    }

    &-desc {
      width: 100%;
    }

    &:not(:last-child) {
      margin-bottom: 35px;
    }

    &--line::after {
      transform: translate(0px, 26px);
      margin-bottom: 50px;
    }
  }

  .section__item {
    width: 20%;
  }

  .section__item-subtitle {
    font-size: 18px;
  }

  .section__item-desc {
    @include font(19px, 400, 30px);
  }

  .section__item-title-desc:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media (min-width: 1280px) and (max-width: 1679px) {
  .section-program {
    min-height: 1218px;
    padding-top: 76px;
  }

  .section-program-img {
    background-image: url(../images/program/program-desc.png);
    background-position: left 0 bottom 160px;
    background-size: 546px 420px;
  }

  @media (min-resolution: 192dpi) {
    .section-program-img {
      background-image: url(../images/program/program-desc@2x.png);
    }
  }
}

@media (min-width: 1680px) {
  .section-program {
    padding-top: 130px;
    min-height: 1288px;

    &::before {
      transform: translateY(150px);
    }
  }

  .section__list::before {
    height: 0%;
  }

  .section__item-title::before {
    display: block;
    transform: translateY(-76px);
  }

  .section-title {
    font-size: 46px;
    margin-bottom: 156px;
  }

  .section__item-subtitle {
    font-size: 20px;
  }

  .section-program-img {
    background-image: url(../images/program/program-desktop.png);
    background-position: left 0 bottom 10px;
    background-size: 700px 517px;
  }

  @media (min-resolution: 192dpi) {
    .section-program-img {
      background-image: url(../images/program/program-desktop@2x.png);
    }
  }
}
