.section-black-title {
  color: $dark-bg-color;
  margin-bottom: 26px;

  @media (min-width: 1280px) {
    margin-bottom: 54px;
  }

  @media (min-width: 1680px) {
    margin-bottom: 72px;
  }
}

.teacher {
  padding-top: 24px;
  padding-bottom: 10px;

  @media (min-width: 768px) {
    padding-top: 30px;
  }

  @media (min-width: 1280px) {
    padding-top: 48px;
  }

  @media (min-width: 1680px) {
    padding-top: 60px;
  }

  &__wraper {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 768px) {
      flex-wrap: nowrap;
      align-items: flex-start;
    }
  }

  &__photo {
    background-color: $primary-color;
    display: inline-flex;
    margin-bottom: 20px;
  }

  &__about-wraper {
    @media (min-width: 768px) {
      padding-left: 44px;
    }

    @media (min-width: 1280px) {
      padding-left: 86px;
    }
  }

  &__name {
    @include font(16px, 800, 30px);
    color: $dark-bg-color;


    @media (min-width: 768px) {
      @include font-two-values(20px, 20px);
      margin-bottom: 14px;
    }

    @media (min-width: 1280px) {
      @include font-two-values(28px, 28px);
    }
  }

  &__attainment {
    margin-bottom: 20px;
    border-top: 1px solid $gray-color;
    padding-top: 26px;
    padding-left: 38px;

    @media (min-width: 1280px) {
      padding-right: 134px;
    }

    @media (min-width: 1680px) {
      padding-right: 264px;
      margin-bottom: 30px;
    }

    &-item {

      @include font(13px, 600, 21px);
      color: $dark-bg-color;
      position: relative;

      @media (min-width: 1280px) {
        @include font-two-values(16px, 28px);
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &::before {
        @extend %pseudo;
        @include rectangle(40px, 32px);
        background-image: url(../images/teacher/noun_Check_2422424.svg);
        background-repeat: no-repeat;
        background-position: center;
        left: -48px;
        top: -2px;

        @media (min-width: 1280px) {
          left: -42px;
        }
      }
    }
  }

  &__qualification {
    color: $gray-color;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;
    padding-left: 16px;

    @media (min-width: 768px) {
      padding-left: 0px;
    }

    @media (min-width: 1280px) {
      @include font-two-values(16px, 28px);
      padding-right: 30px;
    }

    &::before {
      content: "";
      display: block;
      @include rectangle(25px, 2px);
      background-color: $primary-color;
      margin-bottom: 18px;

      @media (min-width: 1280px) {
        margin-bottom: 30px;
      }

      @media (min-width: 1680px) {
        margin-bottom: 36px;
      }
    }

    &--new-line {
      display: block;
      margin-top: 16px;

      @media (min-width: 1280px) {
        margin-top: 22px;
      }

      @media (min-width: 1680px) {
        margin-top: 32px;
      }
    }
  }

  &__certificate {
    color: $primary-color;
    font-weight: 400;
    line-height: 20px;
    padding-left: 16px;

    @media (min-width: 768px) {
      padding-left: 0px;
    }

    @media (min-width: 1280px) {
      @include font-two-values(16px, 28px);
    }
  }
}
