html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  letter-spacing: 0.05em;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: $white-color;
}

.list {
  list-style: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.button {
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  text-align: center;
  letter-spacing: 0.2em;
  width: 246px;
  height: 44px;
  color: $primary-color;
  border: 2px solid $primary-color;
  padding: 0px 5px;
  font-size: 10px;
  cursor: pointer;
}
